.container {
    width: 100% !important;
}
.dropdown-user {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    padding: 0px !important;
    margin: 0 1rem 0 1rem;
    background: #8b5c7e;
}
.dropdown-user .dropdown-toggle {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    padding: 0px 1rem 0px 0px;
    background: none;
    border: 1px solid #8b5c7e;
    background: #8b5c7e;
    color: white;
    margin: 0 !important;
}
.dropdown-user .dropdown-toggle:hover,
.dropdown-user .dropdown-toggle:focus {
    border: 1px solid rgb(225, 223, 223) !important;
    background: rgb(225, 223, 223) !important;
    color: black;
}
.dropdown-user .open .dropdown-toggle:focus {
    border: 1px solid #fa9fa4;
    background: #fa9fa4 !important;
    border-radius: 100px;
    color: black;
    -webkit-border-radius: 100px;
}
.dropdown-user img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 33px;
}

.dropdown-user .dropdown-menu {
    margin-top: 0.5rem !important;
    border-radius: rem !important;
}
.dropdown-user .dropdown-menu a {
    padding: 0.5rem;
    margin: 0.7 !important;
}
.btn-login-add {
    margin-top: 0 !important;
}
.btn-login-add-close {
    margin-top: -10px !important;
    line-height: 0;
}

.cart_image img {
    width: 5rem;
    height: 5rem;
}
.cart_qty_input {
    width: 3rem;
    text-align: center;
}

.tr_cart p {
    margin: 0 !important;
}
.cart_delete button {
    background: #f0f0e9;
    color: #ffffff;
    padding: 3px 7px;
    border: none;
}

.container_cart_error {
    margin-bottom: 10rem;
}
.notice {
    position: relative;
    margin: 1em;
    background: #f9f9f9;
    padding: 1em 1em 1em 2em;
    border-left: 4px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.notice:before {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: -17px;
    background-color: #ddd;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-family: Georgia;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.error {
    border-color: #ff4136;
}

.error:before {
    content: "X";
    background-color: #ff4136;
}
.modal-dialog {
    width: 80rem !important;
}
.sever-checkbox {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    margin-left: 5rem;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.sever-address:checked + .slider {
    background-color: #2196f3;
}

.sever-address:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

.sever-address:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}
